/.github export-ignore
/.php-cs-fixer.cache export-ignore
/.php-cs-fixer.dist.php export-ignore
/.phpunit.cache export-ignore
/.release-please-manifest.json export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/release-please-config.json export-ignore
/renovate.json export-ignore
/tests export-ignore
/var export-ignore
